/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-main: #1287a5;
  --qwik-dark-secondary: #9bfb8b;
  --qwik-white-main: #ffffff;
  --qwik-white-secondary: #f9f9f9;
  --qwik-grey-main: #777;
  --qwik-grey-secondary: #4c4c4c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  /* background-color: var(--qwik-white-secondary); */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

main {
  padding: 0 10%;
  padding-bottom: 120px;
  background-color: var(--qwik-white-main);
  height: auto;
  min-height: 100vh;
  border-radius: 47%/480px 0;
}

h1,
h2 {
  margin: 0 0 5px 0;
}

.lightning {
  filter: hue-rotate(180deg);
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  background-color: var(--qwik-dark-main);
  gap: 4px;
  padding: 16px 34px;
  width: 100%;
  color: var(--qwik-white-main);
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 5px 0;
}

li::marker {
  color: var(--qwik-light-blue);
}

a,
a:visited {
  color: var(--qwik-dark-blue);
}

a:hover {
  text-decoration: none;
}

table.commands {
  margin: 0 0 30px 0;
}

.commands td {
  padding: 5px;
}

.commands td:first-child {
  white-space: nowrap;
  padding-right: 20px;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

a.mindblow {
  margin: 0 auto;
  display: block;
  background: var(--qwik-light-purple);
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: fit-content;
  border-bottom: 4px solid black;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤯</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

a.mindblow:hover {
  border-bottom-width: 0px;
  margin-bottom: 4px;
  transform: translateY(4px);
}

.green-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  min-height: 100%;
  background-color: var(--qwik-dark-secondary);
  z-index: -10;
}

.blue-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: var(--qwik-dark-main);
  border-radius: 38%/360px 0;
  z-index: -5;
}
