.blog-container {
  margin-top: 46px;
  background-color: var(--qwik-white-secondary);
  padding: 36px 24px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blog-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}

.blog-banner-img {
  width: 100%;
  max-height: 360px;
}

.blog-container img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 16px;
  object-fit: scale-down;
}

.blog-container h3 {
  font-size: 24px;
  margin: 12px 0;
}
