.blog-card-item {
  border-radius: 3px;
  color: #4c4c4c;
  flex: 0 0 28%;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease-in-out;
  margin: 1rem;
  background-color: var(--qwik-white-main);
}

.blog-card-item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  gap: 4px;
  height: 100%;
}

span {
  flex: 0 0 38px;
  padding: 0 0.75rem;
  color: #4c4c4c;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

img {
  flex: 0 1 100%;
  max-width: 100%;
  object-fit: cover;
}

.blog-card-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .blog-card-item {
    flex: 0 0 38%;
  }
}

@media screen and (max-width: 560px) {
  .blog-card-item {
    flex: 0 0 85%;
  }
}
